body{
    width: 25em;
    margin: 0 auto;
    margin-top: 25px;
}


.info{
    padding: 25px 25px 0 25px;
}

.details{
    margin: 15px 0 10px 0;
}


table{
    width: 100%;
    max-width: 600px;
    min-width: 400px;
    border-collapse: collapse;
}

th,td{
    padding: 4px 9px;
}

@media only screen and (min-width: 600px){
    body{
        width: 35em;
    }
    th,td{
        padding: 6px 9px;
    }
}
