.main-wrapper{
    width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.sec1{
    background: url("../images/S1-bg.jpg");
    background-repeat:repeat-x;
    padding-top: 53px;
}

.sec1-head{
    overflow: hidden;
    margin: 0 auto;
}

.sec1-h-l{
    width: 264px;
    float: left;
}

.sec1-h-r{
    width: 479px;
    float: right;
    overflow: hidden;
}

.phone{
    float: right;
    width: 328px;
    text-align: right;
}

.nav{
    width: 479px;
    float: right;
    text-align: right;
}

.sec1-bottom{
    overflow: hidden;    /* width: 1327px; */
}

.sec1-b-l{
    width: 532px;
    float: left;
}

.topic-top{
    width: 404px;
}

.topic{
    width: 528px;
}

.topic-bottom{
    width: 195px;
}

.sec1-b-r{
    width: 772px;
    float: right;
}

.sec1-br-img{
    width: 772px;
    height: 638px;
    background: url(../images/sec1-burger.png);
    /* background-attachment: fixed; */
    overflow: hidden;
    background-size:cover;
}


.sec1-br-text{
    width: 100px;
}

.header-wrap{
    width: 1327px;
}

.sec2{
    background: green;
}

.sec2-wrap{
    width: 1234px; 
    margin: 0 auto;
    margin-top: 72px;
}

.sec2-l{
    width: 572px;
    height: 389px;
    background: url("../images/sec2-burger1.png");
    float: left;
    padding: 31px 0 0 24px;
}

.sec2-r{
    float: right;
    height: 420px;
    width: 596px;
    padding-left: 29px;
    position: relative;
}

.sec2-r h4,.sec2-r h2{
    width: 188px;
}

.sec2-rt,.sec2-rb{
    height: 161px;
    width: 567px;
}

.sec2-rt{
    background: url("../images/sec2-burger2.png");
    position: absolute;
    padding: 31px 0 0 29px;
    top: 0;
}

.sec2-rb{
    position: absolute;
    padding: 31px 0 0 29px;
    bottom: 0;
    background: url("../images/sec2-burger3.png");
}



.sec3{
    background: red;
    /* overflow: hidden; */
}

.sec3-wrap{
    margin-top: 67px;
    margin-bottom: 135px;
    overflow: hidden;
}

.sec3-top{
    margin: 0 auto;
    padding-top: 11px;
    width: 218px;
    height: 37px;
    text-align: center;
}


.sec3-mid{
    width: 1055px;
    margin: 0 auto;
    padding-top: 35px;
    text-align: center;
}

.sec3-bottom{
    width: 1333px;
    margin: 0 auto;                  
}

.sec3-bcontent{
    margin-top: 64px;
    width: 332px;
    float: left;
    text-align: center;
}

.sec3-img{
    height: 370px;
    overflow: hidden;
}

.desc{
    margin-top: 15px;
}

.order{
    width: 195px;
    height: 38px;
    padding-top: 19px;
    margin: 0 auto;
    background-color: #bf2222;
    text-align: center;
}

.sec4{
    background: green;
}

.sec4-wrapper{
    width:1215px;
    margin: 0 auto;
    overflow: hidden;
    padding: 25px 26px 27px 53px;
    background-color: pink;
}

.sec4-wrapper2{
    width: 1215px;
    height: 440px;
    overflow: hidden;
    background-color: blue;
}

.sec4-text{
    float: left;
    width: 40%;
    margin-top: 38px;
}

.sec4-r{
    width: 659px;
    float: right;
}

.sec5{
    background: red;
}

.sec5-left{
    float: left;
    width: 351px;
}

.sec5-mid{
    width: 810px;
    float: left;
    text-align: center;
}

.booking{ 
    float: left;
    text-align: left;
    height: 65px;
    width: 377px;
    margin: 13px;
    background-color: blue;
    border: 1px solid black;
}

.submit{
    text-align: center;
}

.sec5-right{
    float: right;
    width: 305px;
}

.sec6{
    background: green;
    margin-bottom: 66px;
}

.sec6-wrap{
    width: 1242px;
    height: 525px;
    padding: 0 41px 0 43px;
    margin: 0 auto;
    background: url("../images/sec6.jpg");
}
.sec6-top{
    overflow: hidden;
}

.sec6-tl{
    float: left;
    width: 512px;
}

.sec6-tr{
    float: right;
    width: 297px;
}

.det-address{
    width: 297px;
}

.sec6-bot{
    overflow: hidden;
}

.sec6-bl{
    width: 241px;
    float: left;
}

.sec6-br{
    width: 152px;
    float: right;
}