.sec2 a,.order,.submit,.sec6{
    color: #ffffff;
}


.nav,.sec1-br-text,.sec2,.sec3-top,.title,h4,.sec6-tr{
    font-family: 'BebasNeueBold';
}

.topic-top, .booking input,.sec6-bl{
    font-family: 'BebasNeueRegular';
    font-weight: normal;
    font-style: normal;
}

.phone, .desc, .sec3-mid,.sec4, .sec6-tl p{
    font-family: 'Montserrat', sans-serif;
}

.topic, .topic-bottom, .sec3-mid h2,.order, .sec4-text h1, .sec5-mid h2, .submit{
    font-family: 'Alfa Slab One', cursive;
}

.sec1-bottom,.sec2{
    text-transform: uppercase;
}



.sec1{
    background: url("../images/S1-bg.jpg");
    background-repeat:repeat-x;
}


.nav{
    font-size: 14.83px;
    letter-spacing: 2px;
}

.phone{
    font-size: 11.67px;
}

.sec1-b-l{
    color: #3d2514;
}

.topic-top{
    font-size: 15.65px;
    color: #3d2514;
}

.topic{
    font-size: 64.3px;
}

.topic-bottom{
    font-size: 30.49px;
}

.sec1-br-img{
    background: url(../images/sec1-burger.png) 0 90%;
    background-repeat: no-repeat;
    background-size:100%;
}

.sec1-br-text{
    background: url("../images/price.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
}

.pricetop{
    font-size: 15.185px;
}

.pricetop span{
    font-size: 34.92px;
}

.pricebelow{
    font-size: 16.7px;
}

.sec2-l:hover,.sec2r:hover{
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 0.5; */
    color: #ffffff;
}

.sec2 h4{
    font-size: 25px;
}

.sec2 h2{
    font-size: 41.67px;
}

.sec2 .sec2-r h4{
    font-size: 20px;
}

.sec2 .sec2-r h2{
    font-size: 35.67px;
}

.sec2l-wrap{
    background: url("../images/sec2-burger1.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.sec2rt-wrap, .sec2rb-wrap{
    background-size: contain;
    background-repeat: no-repeat;
}

.sec2rt-wrap{
    background: url("../images/sec2-burger2.png");
}

.sec2rb-wrap{
    background: url("../images/sec2-burger3.png");
}

.sec3{
    color: #3d2514;
}

.sec3-top{
    background-color: #ffc045;
    font-size: 25px;
}

.sec3-mid{
    font-size: 14.67px;
}

.sec3-mid h2{
    font-size: 30px;
}

.sec3-bcontent{
    font-size: 16.67px;
}

.title{
    font-size: 37.5px;
}

.order{
    text-transform: uppercase;
    background-color: #bf2222;
}

.order:hover{
    background-color: #8c1a1a;
}

.sec4{
    color: #ffffff;
}

.sec4-text{
    font-size: 14.83px;
    text-transform: uppercase;
}

.sec4-text h4{
    text-transform: uppercase;
    font-size: 20.17px;
}

.sec4-text h1{
    font-size: 25.67px;
}

.round-btn{
    background: url("../images/btn.png");
    display: block;
}

.round-btn:hover{
    background: url("../images/btn-hover.png");
}

.round-btn.active{
    background: url("../images/btn-active.png")
}

.sec5{
    color: #3d2514;
}

.sec5-mid h4{
    font-size: 29.17px;
}

.sec5-mid h2{
    font-size: 35px;
}

.booking,.booking input{
    font-size: 20.83px;
}

.booking{ 
    text-align: left;
    background-color: white;   
    border: 1px solid #bebebe;
}

.booking.submit{
    background-color: #bf2222;
}

.submit{
    text-align: center;
    background-color: #bf2222;
}

.submit:hover{
    background-color: #8c1a1a;
}

.sec6{
    font-size: 16.67px;
}

.sec6-wrap{
    background: url("../images/sec6.jpg");
}


@media only screen and (min-width: 768px){
  
    .sec1-br-img{
        background-size:cover;
    }

    .nav{
        font-size: 20.83px;
        letter-spacing: 4px;
    }

.phone{
    font-size: 16.67px;
}


.pricetop{
    font-size: 30.37px;
}

.pricetop span{
    font-size: 69.84px;
}

.pricebelow{
    font-size: 33.4px;
}

.topic-top{
    font-size: 23.65px;
    color: #3d2514;
}

.topic{
    font-size: 114.3px;
}

.topic-bottom{
    font-size: 56.49px;
}

    .sec5{
        color: #3d2514;
    }

    .sec5l{
        background: url("../images/sec5-left.png") no-repeat 16px 0;
    }
    
    .sec5r{
        background: none;
    }
    
    .sec5-mid h4{
        font-size: 29.17px;
    }
    
    .sec5-mid h2{
        font-size: 50px;
    }
}


@media only screen and (min-width: 1002px){
    

    .sec2 a,.order,.submit,.sec6{
        color: #ffffff;
    }


    .nav,.sec1-br-text,.sec2,.sec3-top,.title,h4,.sec6-tr{
        font-family: 'BebasNeueBold';
    }

    .topic-top, .booking input,.sec6-bl{
        font-family: 'BebasNeueRegular';
        font-weight: normal;
        font-style: normal;
    }

    .phone, .desc, .sec3-mid,.sec4, .sec6-tl p{
        font-family: 'Montserrat', sans-serif;
    }

    .topic, .topic-bottom, .sec3-mid h2,.order, .sec4-text h1, .sec5-mid h2, .submit{
        font-family: 'Alfa Slab One', cursive;
    }

    .sec1-bottom,.sec2{
        text-transform: uppercase;
    }



    .nav{
        font-size: 20.83px;
        letter-spacing: 4px;
    }

    .phone{
        font-size: 16.67px;
    }



    .topic-top{
        font-size: 23.65px;
        color: #3d2514;
    }

    .topic{
        font-size: 114.3px;
    }

    .topic-bottom{
        font-size: 56.49px;
    }

    .sec2-l:hover,.sec2r:hover{
        background-color: rgba(0, 0, 0, 0.5);
        /* opacity: 0.5; */
        color: #ffffff;
    }

    .sec2 h4{
        font-size: 25px;
    }

    .sec2 h2{
        font-size: 41.67px;
    }

    .sec3{
        color: #3d2514;
    }

    .sec3-top{
        background-color: #ffc045;
        font-size: 25px;
    }

    .sec3-mid{
        font-size: 16.67px;
    }

    .sec3-mid h2{
        font-size: 50px;
    }

    .sec3-bcontent{
        font-size: 16.67px;
    }

    .title{
        font-size: 37.5px;
    }

    .sec4{
        color: black;
    }

    .sec4-text{
        font-size: 20.83px;
    }

    .sec4-text h4{
        font-size: 29.17px;
    }

    .sec4-text h1{
        font-size: 41.67px;
    }

    .sec5{
        color: #3d2514;
    }

    .sec5r{
        background: url("../images/sec5-right.png") no-repeat 117.8% 266px;
    }

    .sec5-mid h4{
        font-size: 29.17px;
    }

    .sec5-mid h2{
        font-size: 50px;
    }

    .booking,.booking input{
        font-size: 20.83px;
    }

    .sec6{
        font-size: 16.67px;
    }

    .sec6-wrap{
        background-size: contain;
    }


}


