.sec2 a,.order,.submit,.sec6{
    color: #ffffff;
}


.nav,.sec1-br-text,.sec2,.sec3-top,.title,h4,.sec6-tr{
    font-family: 'BebasNeueBold';
}

.topic-top, .booking,.sec6-bl{
    font-family: 'BebasNeueRegular';
    font-weight: normal;
   font-style: normal;
}

.phone, .desc, .sec3-mid,.sec4, .sec6-tl p{
    font-family: 'Montserrat', sans-serif;
}

.topic, .topic-bottom, .sec3-mid h2,.order, .sec4-text h1, .sec5-mid h2, .submit{
    font-family: 'Alfa Slab One', cursive;
}

.sec2 h4{
    font-size: 25px;
}

.sec2 h2{
    font-size: 41.67px;
}

.sec3{
    color: #3d2514;
}

.sec3-top{
    background-color: #ffc045;
    font-size: 25px;
}

.sec3-mid{
    font-size: 16.67px;
}

.sec3-mid h2{
    font-size: 50px;
}

.sec3-bcontent{
    font-size: 16.67px;
}

.title{
    font-size: 37.5px;
}

.sec4-text{
    font-size: 20.83px;
}

.sec4-text h4{
    font-size: 29.17px;
}

.sec4-text h1{
    font-size: 41.67px;
}

.sec5-mid h4{
    font-size: 29.17px;
}

.sec5-mid h2{
    font-size: 50px;
}

.booking{
    font-size: 20.83px;
}

.sec6{
    font-size: 16.67;
}

.sec6-tl{
    font-size: 20.83px;
}

