@media only screen and (min-width: 768px) {
    .sec1{
        max-width: 62.625em;
        width: 100%;
    }
    
    .sec1-mainwrapper{
        min-width: 48em;
    }
    
    .sec1-wrapper{
        width: 92.1527778%;
        overflow: hidden;
    }
    
    .sec1-h-r{
        width: 74.864356%;
    }
    
    .phone{
        width: 62.003781%;
    }
    
    .sec1-bottom{
        height: 638px;
        width: 756px;
    }
    
    .sec1-b-l{
        max-width: 532px;
        top: 85px;
    }
    
    .topic-top{
        width: 400px;
        padding: 1.691729% 0 0.939849% 0 ;
    }
    
    .sec1-b-r{
        width: 772px;
        float: right;
        max-width: 772px;
    }
    
    .sec1-br-img{
        width: 772px;
        height: 638px;
        max-height: 638px;
        float: right;
    }
    
    
    .sec1-br-text{
        left: 60px;
        bottom: 60px;
        width: 174px;
        height: 142px;
        padding-top: 32px;
        border-radius: 87px;
    }
    
    .sec2{
        max-width: 62.625em;
        width: 100%;
    }
    
    .sec2-mainwrap{
        width: 100%;
        min-width: 768px;
    }
    
    .sec2-wrap{
        width: 420px;
        margin: 2.486111% auto 0 auto;
        /* padding:  3.736111% 0 3.736111%; */
        padding-bottom: 20px;
    }
    
    
    
    .sec3{
        max-width: 62.625em;
        width: 100%;
    }
    
    .sec3-wrap{
        width: 768px;
    }
    
    .sec3-bottom{
        width: 369px;
        overflow: hidden;                
    }
    
    .sec3-bcontent{
        min-width: 349px;
        float: left;
    }
    
    .sec4{
        max-width: 62.625em;
        width: 100%;
    }
    
    .sec4-mainwrap{
        width: 768px;
    }
    
    .sec4-r{
        float: right;
        top: 0;
    }
    
    .sec5 {
        max-width: 62.625em;
        width: 100%;
    } 
    
    .sec5-wrapper{
        min-width: 768px;
        width: 100%;
    }
    
    .sec5-mid{
        overflow: visible;
        margin: 74px auto 0 auto;
    }
    
    .sec5l{
        height: 500px;
        overflow: visible;
    }
    
    .book-wrap{
        width: 768px;
    }
    
    .booking{
        margin: 13px;
    }
    
    .submit{
        height: 65px;
    }
    
    .booking.submit{
        border: none;
        height: 45px;
        text-align: center;
    }
    
    .sec6{
        max-width: 60.107978em;
        overflow: hidden;
    }
    
    .sec6-wrapper{
        min-width: 768px;
    }
}