.carousel-container{
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border: 1px solid;
}

.image-container{
    height: 200px;
    position: absolute;
    z-index: 3;
}

.carousel-container img{
    float: left;
}

.buttoncontainer{
    position: absolute;
    bottom: 15px;   
    height: 14px;
    display: inline;
    z-index: 4;
}

.carousel-button{
    display: block;
    height: 14px;
    width: 14px;
    border-radius: 7px;
    margin: 0 3px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 3px #838383;
    float: left;
}

.carousel-button.active{
    background-color: rgba(255, 255, 255, 0.9);
}

.carousel-left-control,.carousel-right-control{
    position: absolute;
    width: 20px;
    height: 40px;
    top: 20px;
    z-index: 4;
    font-size: 30px;
    font-weight: 1000;
    font-family: Arial, sans-serif;
    color: rgba(255, 255, 255, 0.6);
}

.carousel-left-control:hover,.carousel-right-control:hover{
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.carousel-left-control{
    left: 0;
}

.carousel-right-control{
    right: 0;
}