.whole-wrapper{
    min-width: 30em;
    overflow: hidden;
}

.content-wrap{
    margin: 0 auto;
}

.content{
    width: 90%;
    /* max-width: 938px; */
    margin: 0 auto;
    overflow: hidden;
}

.header-wrapper{  
    overflow: hidden;
    width: 100%;
}

.header-top{
    background: #7dd9e8;
    width: 100%;
    overflow: hidden;
    padding: 20px 0px 0px 0px;
}

.header-top-left{
    width: 23.773987207%;
    float: left;
    overflow: hidden;
    /* display: none; */
}

.header-top-left{
    width: 23.773987207%;
    float: left;
}

.header-top-left a{
    width: 100%;
    overflow: hidden;
}

.header-top-left a img{
    width: 100%;
    overflow: hidden;
}

.header-top-mid{
    width: 60.085287846%;
    float: left;
    float: left;
    /* margin: 20px 24px 9px 24px; */
}

.header-top-mid img{
    float: left;
}

.inp1,.inp2{
    padding: 4px;
}

.inside-inp{
    width: 216px;
    float: left;
    height: 20px;
    overflow: hidden;
    background: #caeff7;
}

.header-top-mid input{
    width: 163px;
    float: left;
    padding-top: 3px;
    border: none;
    background: #caeff7;
    outline: none;
}


.submit{
    display: none;
}


.submit-wrap{
    height: 20px;
    float: right;
    display: inline;
}
.submit-wrap>img{
    float: right;
}

.span-text{
    height: 18px;
    background: #274e55;
    padding-bottom: 2px;
    padding-top: 3px;
    float: right;
}

.header-top-right{
    width: 30.884861407%;
    float: right;
    max-width: 130px;
    padding: 0 0px 15px 0px;
}

.header-top-right-top{
    float: right;
    margin-bottom: 10px;
}

.header-top-right-bottom{
    float: right;
    margin: 0px 2px;
}

.header-top-right-bottom>ul li{
    display: inline;
}

.header-bottom{
    background: #f5f5f5;
    width: 100%;
}

.header-bottom-left{
    width: 48%;
    float: left;
    overflow: hidden;
    /* padding: 15px 0px; */
}

.nav{
    /* display: block; */
    padding: 3px;
    display: inline-block;
    text-align: center;
}

.nav:hover{
    background: #7dd9e8;
}

.header-bottom-right{
    width: 48%;
    float: right;
    padding-top: 10px;
}

.header-bottom-right>ul li{
    display: inline;
    float: right;
    padding-left: 10px;
    margin-left: 10px;
}

.header-bottom-right a{
    display: block;
}

.body-wrapper{
    background: white;
    overflow: hidden;
}

.whole-wrapper .body-wrapper .content-wrap .content{
    background: #f5f5f5;
}

.body-left{
    display: none;
    float: left;
    width: 20.682302772%;
}

.main-side-title{
    background: #2fc1da;
    width: 100%;
    left: 12px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.main-side-content-title,.main-side-content-right{
    padding-left: 12px;
    padding-right: 14px;
}

.main-side-list{
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.main-side-list:hover{
    background: white;
}

.list-text{
    padding-left: 11px;
    width: 77.319587629%;
    float: left;
}

.main-side-content-img{
    margin-right: 11px;
    float: right;
}

.body-mid{
    float: left;
    width: 100%;
    background: white;
    /* padding: 0px px 0px 26px; */
}

.main-division{
    overflow: hidden;
    width: 100%;
}

.main-division-left{
    width: 49.806949807%;
    float: left;
    background: #f5f5f5;
    overflow: hidden;
}

.main-division-left>img{
    float: left;
}

.main-division-right{
    width: 49.806949807%;
    float: right;
    overflow: hidden;
    background: #f5f5f5;
}

.main-division-right img{
    float: right;
}

.main-division-top{
    padding-top: 14px;
    /* width:100%; */
    text-align: center;
}

.main-division-left .main-division-top{
    margin-left: 13px;
}

.main-division-right .main-division-top{
    margin-left: 13px;
    float: left;
}

.main-division-bottom{
    width: 100%;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}

.content-type{
    width: 42.167741935%;
    margin: 0px 5px;
    float: left;
}

.content-type.active{
    background: #2fc1da;
}

.content-type.active .div-left, .content-type:hover .div-left{
    background: url(../image/acontent-left.jpg) no-repeat top left;
}

.content-type.active .div-right, .content-type:hover .div-right{
    background: url(../image/acontent-right.jpg) no-repeat top right;
}

.content-type .div-left{
    background: url(../image/contenttype-left.jpg) no-repeat top left;
}

.content-type .div-right{
    background: url(../image/contenttype-right.jpg) no-repeat top right;
}

.content-type:hover{
    background: #2fc1da;
}

.content-type a{
    display: block;
    padding: 7px 0;
    text-align: center;
}

.main-content{
    width: 100%;
    overflow: hidden;
}

.main-list{
    margin-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.list-img{
    width: 13.513513514%;
    float: left;
    overflow: hidden;
}

.list-details{
    margin-left: 9px;
    /* padding-left: 9px; */
    width: 83.595300261%;
    float: left;
}

.list-item-title{
    float: left;
    margin-left: 1px;
    width: 99.302325581%;
}

.list-item-details{
    width: 100%;
    float: left;
}

.body-right{
    float: right;
    width: 18.763326226%;
    overflow: hidden;
    display: none;
}

.main-side-content-right{
    padding-top: 12px;
    padding-bottom: 10px;
}

.main-side-content-right:hover{
    background: white;
}

.footer-wrapper{
    background: #727272;
    text-align: center;
    padding: 15px 0;
}


.footer-left>ul li{
    padding-bottom: 5px;
}
.footer-button{
    display: none;
}


