.header-top{
    background: #7dd9e8;
}

.inside-inp{
    background: #caeff7;
}

.header-top-mid input{
    font-size: 12px;
    background: #caeff7;
}

.header-top-right-top{
    font-size: 16px;
}

.header-top-right-bottom{
    font-size: 9px;
}

.header-bottom{
    background: #f5f5f5;
}

.header-bottom-left{
    font-size:10px; 
}

.nav:hover{
    background: #7dd9e8;
}

.submit a{
    color: white;
}

.submit a:hover{
    color: #d5d5d5;
}

.span-text{
    font-size: 10px;
    font-weight: bold;
}

.header-top-right-top{
    font-size: 15px;
}

.header-top-right-bottom{
    font-size: 9px;
}

.header-bottom-right>ul li{
    font-size: 14px;
}

.header-bottom-right-details a{
    color: #ababab;
}

.header-bottom-right-details.active a{
    color: black;
}

.header-bottom-right-details:hover a,.header-bottom-right-details.active:hover a{
    color: #2fc1da;
}

.body-wrapper{
    background: white;
}

.whole-wrapper .body-wrapper .content-wrap .content{
    background: #f5f5f5;
}

.main-side-title{
    background: #2fc1da;
    color: #ffffff;
    font-size: 17px;
}

.main-side-list:hover{
    background: white;
}

.body-mid{
    background: white;
}

.main-division{
    border-bottom: 2px solid #30c2db;
}

.main-division-top{
    font-size: 13px;
}

.main-division-left,.main-division-right{
    background: #f5f5f5;
}

.content-type{
    background: #dddddd;
}

.content-type.active,.content-type:hover{
    background: #2fc1da;
}

.content-type.active .div-left, .content-type:hover .div-left{
    background: url(../image/acontent-left.jpg) no-repeat top left;
}

.content-type.active .div-right, .content-type:hover .div-right{
    background: url(../image/acontent-right.jpg) no-repeat top right;
}

.content-type .div-left{
    background: url(../image/contenttype-left.jpg) no-repeat top left;
}

.content-type .div-right{
    background: url(../image/contenttype-right.jpg) no-repeat top right;
}

.main-side-content-right:hover{
    background: white;
}

.main-content{
    color: #898989;
    font-size: 11PX;
}   

.main-content h4{
    color: black;
}

.main-content a{
    color: #59b4c6;
    font-weight: bold;
}

.main-list{
    border-bottom: 1px solid #d8d8d8;
}

.list-item-title a{
    color: #000000;
}

.list-item-details.imp{
    color: #d43f1e;
}

.subscription{
    color: #6e931f;
    font-weight: bold;
}

.main-side-content-right.active{
    background-color: #ffffff;
}

.footer-wrapper{
    font-size: 9px;
    background: #727272;
    color: #d5d5d5;
}

.footer-left a{
    color: #d5d5d5;
}

.footer-left a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 768px){
    .header-bottom-left{
        font-size: 12px; 
    }

    .inside-inp{
        background: #caeff7;
    }

    .header-top-mid input{
        background: #caeff7;
    }

    .span-text{
        background: #274e55;
    }

    .header-top-right-bottom{
        font-size: 11px;
    }

    .content-type:hover{
        background: #2fc1da;
    }
}

@media only screen and (min-width: 1002px){
    .body-mid{
        background: white;
    }
}


