.content-wrap{
    width: 1002px;
    /* padding-left: 33px; */
    margin: 0 auto;
    /* overflow: hidden; */
}

.content{
    width: 938px;
    margin: 0 auto;
    overflow: hidden;
}

.header-wrapper{  
    overflow: hidden;
}

.header-top{
    background: #7dd9e8;
    width: 100%;
    overflow: hidden;
    padding: 20px 0px 0px 0px;
}

.header-top-left{
    width: 223px;
    float: left;
}

.header-top-mid{
    /* padding-left: 24px; */
    width: 376px;
    float: left;
    margin: 20px 24px 9px 24px;
}

.header-top-mid img{
    float: left;
}


.inp1,.inp2{
    padding: 4px;
}

.inside-inp{
    width: 276px;
    float: left;
    height: 20px;
    overflow: hidden;
    background: #caeff7;
}

.header-top-mid input{
    width: 223px;
    float: left;
    padding-top: 3px;
    border: none;
    background: #caeff7;
    outline: none;
}

.submit{
    overflow: hidden;
    float: left;
    padding-left: 7px;
}


.submit-wrap{
    height: 20px;
    float: right;
    display: inline;
}
.submit-wrap>img{
    float: right;
}

.span-text{
    height: 18px;
    background: #274e55;
    padding-bottom: 2px;
    padding-top: 3px;
    float: right;
}

.header-top-right{
    width: 149px;
    float: right;
    padding: 8px 0px 23px 0px;
}

.header-top-right-top{
    float: right;
    margin-bottom: 10px;
}

.header-top-right-bottom{
    /* width: 138px; */
    float: right;
    margin: 0px 2px;
}

.header-top-right-bottom>ul li{
    display: inline;
}

.header-bottom{
    float: left;
    background: #f5f5f5;
    width: 100%;
}

.header-bottom-left{
    width: 515px;
    float: left;
    overflow: hidden;
    padding: 15px 0px;
}

.nav{
    padding: 15px 10px;
    text-align: center;
}

.nav:hover{
    background: #7dd9e8;
}

.header-bottom-right{
    padding-top: 10px;
    float: right;
}

.header-bottom-right>ul li{
    display: inline;
    float: right;
    padding-left: 10px;
    margin-left: 10px;
}

.header-bottom-right a{
    display: block;
}

.body-wrapper{
    background: white;
    padding: 30px 0px 32px 0px;
    overflow: hidden;
}

.body-wrapper .content-wrap .content{
    background: #f5f5f5;
}

.body-left{
    float: left;
    width: 194px;
    background: #f5f5f5;
}

.main-side-title{
    background: #2fc1da;
    width: 100%;
    left: 12px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.main-side-content-title,.main-side-content-right{
    padding-left: 12px;
    padding-right: 14px;
}

.main-side-list{
    width: 194px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.main-side-list:hover{
    background: white;
}

.list-text{
    padding-left: 11px;
    width: 150px;
    float: left;
}

.main-side-content-img{
    margin-right: 11px;
    float: right;
}

.body-mid{
    float: left;
    width: 518px;
    background: white;
    padding: 0px 24px 0px 26px;
}

.main-division{
    overflow: hidden;
    width: 100%;
}

.main-division-left{
    width: 258px;
    float: left;
    background: #f5f5f5;
    overflow: hidden;
}

.main-division-left>img{
    float: left;
}

.main-division-right{
    width: 258px;
    float: right;
    overflow: hidden;
    background: #f5f5f5;
}

.main-division-right>img{
    float: right;
}

.main-division-top{
    padding-top: 14px;
    width: 230px;
    text-align: center;
}

.main-division-left>.main-division-top{
    margin-left: 13px;
}

.main-division-right>.main-division-top{
    margin-left: 13px;
    float: left;
}
.main-division-right>img{
    float: right;
}
.main-division-bottom{
    width: 248px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}

.content-type{
    width: 114px;
    margin: 0px 5px;
    float: left;
}

.content-type.active{
    background: #2fc1da;
}

.content-type.active .div-left, .content-type:hover .div-left{
    background: url(../image/acontent-left.jpg) no-repeat top left;
}

.content-type.active .div-right, .content-type:hover .div-right{
    background: url(../image/acontent-right.jpg) no-repeat top right;
}

.content-type .div-left{
    background: url(../image/contenttype-left.jpg) no-repeat top left;
}

.content-type .div-right{
    background: url(../image/contenttype-right.jpg) no-repeat top right;
}

.content-type:hover{
    background: #2fc1da;
}

.content-type a{
    display: block;
    padding: 7px 0;
    text-align: center;
}

.main-content{
    width: 100%;
    overflow: hidden;
}

.main-list{
    margin-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
}

.list-img{
    width: 70px;
    float: left;
}

.list-details{
    padding: 0px 9px;
    width: 430px;
    float: left;
}

.list-item-title{
    float: left;
    margin-left: 1px;
    width: 427px;
}

.list-item-details{
    width: 100%;
    float: left;
}

.body-right{
    float: right;
    width: 176px;
}

.main-side-content-right{
    padding-top: 12px;
    padding-bottom: 10px;
}

.main-side-content-right:hover{
    background: white;
}

.footer-wrapper{
    background: #727272;
    padding: 19px 0px 28px 0px;
}

.footer-left{
    float: left;
}

.footer-left>ul li{
    display: inline;
    padding: 8px 0 8px 8px;
}

.footer-button{
    margin: 0 0 1px 8px;
}

.footer-right{
    float: right;
    padding: 0px 5px 0px 6px;
}



