.header-wrapper{  
    overflow: hidden;
}

.body-wrapper{
    background: white;
    padding: 30px 0px 32px 0px;
    overflow: hidden;
}

.footer-wrapper{
    background: #727272;
    color: #d5d5d5;
    padding: 19px 0px 17px 0px;
}

.content{
    width: 938px;
    margin: 0 auto;
    overflow: hidden;
}

.body-wrapper>.content{
    background: #f5f5f5;
}

.header-top{
    background: #7dd9e8;
    width: 100%;
    overflow: hidden;
    padding: 20px 0px 0px 0px;
}

.header-top-left{
    width: 223px;
    height: 49px;
    float: left;
}

.header-top-mid{
    /* padding-left: 24px; */
    width: 376px;
    float: left;
    height: 20px;
    margin: 20px 24px 9px 24px;
}

.header-top-mid>img{
    float: left;
}

.header-top-mid>input{
    width: 261px;
    height: 20px;
    float: left;
    background: #caeff7;
    border: none;
    font-size: 11px;
}

.submit{
    overflow: hidden;
    float: right;
}

/* .submit-text{
    background: red;
    font-size: 7pt;
    padding-left: 8px;
    font-family: Myriad Pro;
    /* float: left;
} */

.submit-wrap{
    height: 20px;
    float: right;
    display: inline;
    background: pink;
}
.submit-wrap>img{
    float: right;
}
.span-text{
    height: 18px;
    background: #274e55;
    padding-bottom: 2px;
    float: right;
}

.header-top-right{
    width: 142px;
    float: right;
    padding: 8px 0px 23px 0px;
}

.header-top-right-top{
    float: right;
    margin-bottom: 10px;
}

.header-top-right-bottom{
    /* width: 138px; */
    float: right;
    margin: 0px 2px;
}

.header-top-right-bottom>ul li{
    display: inline;
    font-size: 14px;
}

.header-bottom{
    float: left;
    background: #f5f5f5;
    width: 100%;
    height: 40px;
}
.header-bottom>.content{
    height: 40px;
}
.header-bottom-left{
    width: 515px;
    float: left;
    height: 40px;
    overflow: hidden;
    padding-top: 11px;
}

.nav{
    padding: 11px 10px;
    text-align: center;
}


.nav:hover{
    background: #7dd9e8;
}


.header-bottom-right{
    padding-top: 10px;
    float: right;
}

.header-bottom-right>ul li{
    display: inline;
    float: right;
    padding-left: 30px;
    font-size: 14px;
}

.header-bottom-right-details a{
    color: #ababab;
}


.header-bottom-right-details.active a{
    color: black;
}

.body-left{
    float: left;
    width: 194px;
    background: #f5f5f5;
}

.main-side-title{
    background: #2fc1da;
    width: 100%;
    left: 12px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.main-side-content-title,.main-side-content-right{
    padding-left: 12px;
    padding-right: 14px;
}
.main-side-content-right{
    padding-top: 12px;
    padding-bottom: 10px;
}

.main-side-content-right.active{
    background-color: #ffffff;
}

.main-side-content-right:hover{
    background: white;
}

.main-side-list{
    width: 194px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.main-side-list:hover{
    background: white;
}

.list-text{
    padding-left: 11px;
    width: 155px;
    float: left;
}

.main-side-content-img{
    height: 12px;
    width: 12px;
    margin-right: 11px;
    float: right;
}


.body-mid{
    float: left;
    width: 518px;
    background: white;
    padding: 0px 24px 0px 26px;
}

.main-division{
    width: 100%;
    background: wheat;
}

.main-division-left{
    width: 258px;
    float: left;
    background: #f5f5f5;
    overflow: hidden;
}

.main-division-left>img{
    float: left;
}

.main-division-right{
    width: 258px;
    float: right;
    overflow: hidden;
    background: #f5f5f5;
}

.main-division-right>img{
    float: right;
}


.main-division-top{
    padding-top: 14px;
    width: 230px;
    text-align: center;
}

.main-division-left>.main-division-top{
    margin-left: 13px;
    /* padding: 14px 0px 13px 0px; */
}

.main-division-right>.main-division-top{
    margin-left: 13px;
    float: left;
    /* padding: 13px 0px 13px 0px; */
}
.main-division-right>img{
    float: right;
}
.main-division-bottom{
    width: 248px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}

.content-type{
    width: 114px;
    height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    /* padding: 5px 0px 8px 0px; */
    float: left;
    background: #dddddd;
}

.content-type.active{
    background: #2fc1da;
}

.content-type>img{
    float: left;
}

.content-text{
    width: 86px;
    float: left;
    text-align: center;
    height: 28px;
    font-size: 13px;
    padding-top: 11px;
}

.main-content{
    width: 100%;
    overflow: hidden;
}

.main-list{
    margin-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    border-bottom: 1px solid #d8d8d8;
}

.list-img{
    width: 70px;
    height: 70px;
    float: left;
}

.list-details{
    padding: 0px 9px;
    width: 430px;
    float: left;
}

.list-item-title{
    /* width: 100%; */
    float: left;
    margin-left: 1px;
    width: 427px;
}

.list-item-details{
    width: 100%;
    float: left;
}

.body-right{
    float: right;
    width: 176px;
}



.footer-left{
    float: left;
}

.footer-right{
    float: right;
    padding: 0px 5px 0px 6px;
}

.footer-left>ul li{
    display: inline;
    padding: 8px;
}

ul>img{
    padding-bottom: 3px;
}